---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/movie/5cd95395de30eff6ebccde57
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1wlzLG_csCXGeHE1OmlX
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '50'
      x-ratelimit-reset:
      - '1687265833'
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"120-UzjxPo12aTtmXxyJy/Odywe9OBc"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"5cd95395de30eff6ebccde57","name":"The Hobbit Series","runtimeInMinutes":462,"budgetInMillions":675,"boxOfficeRevenueInMillions":2932,"academyAwardNominations":7,"academyAwardWins":1,"rottenTomatoesScore":66.33333333}],"total":1,"limit":1000,"offset":0,"page":1,"pages":1}'
  recorded_at: Tue, 20 Jun 2023 12:53:46 GMT
recorded_with: VCR 6.1.0
