---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/movie
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1wlzLG_csCXGeHE1OmlX
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '51'
      x-ratelimit-reset:
      - '1687265833'
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"737-FtnbVAMtM2Np7AQquxcGvrlVqbI"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"5cd95395de30eff6ebccde56","name":"The Lord of the
        Rings Series","runtimeInMinutes":558,"budgetInMillions":281,"boxOfficeRevenueInMillions":2917,"academyAwardNominations":30,"academyAwardWins":17,"rottenTomatoesScore":94},{"_id":"5cd95395de30eff6ebccde57","name":"The
        Hobbit Series","runtimeInMinutes":462,"budgetInMillions":675,"boxOfficeRevenueInMillions":2932,"academyAwardNominations":7,"academyAwardWins":1,"rottenTomatoesScore":66.33333333},{"_id":"5cd95395de30eff6ebccde58","name":"The
        Unexpected Journey","runtimeInMinutes":169,"budgetInMillions":200,"boxOfficeRevenueInMillions":1021,"academyAwardNominations":3,"academyAwardWins":1,"rottenTomatoesScore":64},{"_id":"5cd95395de30eff6ebccde59",[...]
